*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 40, 40);
}
.calcbody{
    margin-top: 3.5vh;
    width: 100%;
    max-width: 350px;
    height: 525px;
    background-color: rgb(29, 29, 30);
    border-radius: 20px;
    padding: 10px;
}
.ans{
    width: 100%;
    border-radius: 40px;
    aspect-ratio: 5/1;
    background-color: rgb(20, 20, 20);
    color: white;
    margin-top: 10px;
    font-size: 25px;
    padding-left: 20px;
    padding-top: 20px;
}